:root {
    --nav-title:#73F3BB;
    --nav-title-shadow: 0 0 #73ABAD;
    --footer:#73F3BB;
}

html, html[data-theme="light"] { 
  --box-bg:rgba(255, 255, 255, 0.8);
  --box-border:#023020;
  --block-bg:rgba(255, 255, 255, 1);
  --block-border:#023020;
  --text:#023020;
  --link:#023020;
  --link-shadow:#efe5ff;
  --link-hover:#73F3BB;
  --italics:rgba(34,34,34,0.9);
  --bold:#023020;
  --header-shadow:#ffffff;
  --header:#023020;
  --subheader:023020;
}

html[data-theme="dark"] {
  --box-bg:#06130E;
  --box-border:#73F3BB;
  --block-bg:#06130E;
  --block-border:#73F3BB;
  --text:#73F3BB;
  --link:#73F3BB;
  --link-shadow:#73F3BB;
  --link-hover:#06130E;
  --italics:#73F3BB;
  --bold:#73F3BB;
  --header-shadow:#73F3BB;
  --header:#73F3BB;
  --subheader:#73F3BB;
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
    --box-bg:#06130E;
    --box-border:#73F3BB;
    --block-bg:#06130E;
    --block-border:#73F3BB;
    --text:#73F3BB;
    --link:#73F3BB;
    --link-shadow:#73F3BB;
    --link-hover:#06130E;
    --italics:#73F3BB;
    --bold:#73F3BB;
    --header-shadow:#73F3BB;
    --header:#73F3BB;
    --subheader:#73F3BB;
	}
	
	html[data-theme="light"] { 
    --box-bg:rgba(255, 255, 255, 0.8);
    --box-border:#023020;
    --block-bg:rgba(255, 255, 255, 1);
    --block-border:#023020;
    --text:#023020;
    --link:#023020;
    --link-shadow:#efe5ff;
    --link-hover:#73F3BB;
    --italics:rgba(34,34,34,0.9);
    --bold:#023020;
    --header-shadow:#ffffff;
    --header:#023020;
    --subheader:023020;
	}
}

#container {
    max-width: 1000px;
    margin: 0 auto;
  }

#flex {
    display: flex;
    margin:20px 0;
    align-content: center;
  }

body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #73F3BB;
    background: #06130E;
    font-family: VT323, monospace;
    letter-spacing: 1px;
    overflow-x: hidden;
    cursor: url('/img/pixel.cur'), auto;
  }

  
  .crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  
  ::selection { /* used to target the selected text */
    color: #211830;
    background-color: #519975;
  }
  
  ::-moz-selection { /* the text that is selected by the user, specifically for the Firefox browser*/
    color: #211830;
    background-color: #519975;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 200px 600px 200px;
    justify-content: center;
    margin: 0 auto;
    padding: 2px;
    border: 2px #73F3BB;
  }

  .header {
    border: 2px #73F3BB;
    width: 975px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
  }

  .left {
    width: 311px;
    background-color: transparent;
    border: 2px #73F3BB;
    padding: 10px;
  }

  .right {
    width: 311px;
    background-color: transparent;
    border: 2px #73F3BB;
    padding: 10px;
  }

  .main {
    width: 590px;
    background-color: transparent;
    border: 2px #73F3BB;
    padding: 10px;
  }

  .updates {
    height: 205px;
    background-color: transparent;
    border: 1px #73F3BB;
    overflow-y: scroll;
    padding: 7px;
  }

  .navlink {
    display: block;
  }
  
  textarea {
    background: #06130E;
    border: 1px solid #73F3BB;
    border-color: #73F3BB;
  }
  
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  
  #command { /* '#' for class, '.' for id */
    cursor: text;
    height: 50px;
    color: #73F3BB;
  }
  
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  
  
  .index {
    color: #73F3BB;
  }
  
  .color2 {
    color: #73F3BB;
  }
  
  .command {
    color: #73F3BB;
    text-shadow: 0 0 5px #73ABAD; 
  }
  
  .error {
    color: #B89076;
  }
  
  .white {
    color: #fff;
  }
  
  .inherit,
  a {
    color: #73F3BB;
  }
  
  .terminal {
    color: #73F3BB;
  }
  
a, a:link, a:visited {
  transition:0.5s;
  text-shadow: 0px 0px 5px var(--link-shadow);
  color:var(--link);
}

a:active, a:hover {
  color:var(--link-hover);
  background-color: #73F3BB;
  cursor: url('/img/pixel.cur'), auto;
}


.btnlink a:link, .btnlink a:visited {
  display:block;
  background-color:var(--page-bg);
  color:var(--nav-title);
  text-decoration:none;
  padding:10px;
  margin-bottom:20px;
  border-radius:20px;
  text-align:center;
  font-size:1.1em;
  text-shadow:none;
  font-weight:800;
  border:2px solid #fff;
}

.btnlink a:hover, .btnlink a:active {
  background-color:#AB6BD1;
}

.guestbook a:link, .guestbook a:visited {
  transition:0.5s!important;
  text-shadow: 0px 0px 5px var(--link-shadow)!important;
  color:var(--link)!important;
}

.guestbook a:active, .guestbook a:hover {
  color:var(--link-hover);
  cursor: url('/images/crown.cur'), auto;
}

.guestbook blockquote, .guestbook details {
  padding:20px!important;
}

i, em {
  color:var(--italics);
}

b, strong {
  color:var(--bold);
}
 
h1 {
  font-family:VT323, monospace;
  text-align:center;
  color:var(--header);
  font-size:2.5em;
}

h2 {
  font-family: VT323, monospace;
  font-size:1.8em;
  color:var(--subheader);
}

h3 {
  font-size:1.3em;
  padding:0px;
  color:bold;
}

.ficarchive h3 {
  text-align:center;
}

p, ul {
  line-height:1.5em;
}

ul {
  margin-left:-10px;
}

li {
  margin:5px 0px;
  line-height:1.5em;
}

hr {
  background-color:var(--box-border);
  width:50%;
  margin:2em auto;
  height:2px;
  border:none;
}

pre, code {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

blockquote {
  background-color:var(--block-bg);
  padding:0px 15px;
  border:2px solid var(--block-border);
  margin:0 auto;
}

blockquote h2, blockquote h3 {
  color:var(--bold);
  font-weight:800;
  font-size:1.15em;
  font-family: VT323, sans-serif;
  text-align:center;
  margin-bottom:-10px;
}

details {
  background-color:var(--block-bg);
  padding:10px 15px;
  border:2px solid var(--block-border);
  margin:0 auto;
}

details img {
  @media (max-width: 799px) {
    max-width:100%;
  }
  max-width:500px;
}

summary {
  color:var(--bold);
  font-weight:800;
  font-size:1.15em;
}

header {
  text-align:center;
  margin:30px 5px 20px 0;
  max-width:100%;
}

header img {
  max-width:100%;
}

header a {
  text-decoration:none;
}

.banner {
  border:2px solid var(--box-border);
  border-radius:20px;
  box-shadow: 0 4px 30px var(--box-shadow);
  max-width:100%;
  margin-right:5px;
}

.banner img {
  max-width:100%;
}

.gallery {
  text-align:center;
}

.gallery img {
  border:2px solid var(--block-border);
  border-radius:15px;
}

main {
  color:var(--text);
  background-color:var(--box-bg);
  width:100%;
  padding:0px 20px 10px 20px;
  box-shadow: 0 4px 30px var(--box-shadow);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  flex:1;
  order:1;
  border:2px solid var(--box-border);
}

main img {
  max-width:100%;
}

main iframe {
  max-width:100%;
}

nav {
  order:2;
  width:200px;
  margin-left:20px;
  color:var(--nav-title);
  text-align:center;
}

.navbox {
  color:var(--text);
  background-color:var(--box-bg);
  padding:10px;
  box-shadow: 0 4px 30px var(--box-shadow);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border:2px solid var(--box-border);
}

.navbox a {
  display:block;
  margin:5px;
  font-weight:800;
  text-decoration:none;
}

.navbox a:hover {
  letter-spacing: 0.1em;
  transition:0.5s;
}

.navtitle {
  font-family: VT323, monospace;
  text-align:center;
  text-shadow: 2px 2px 4px var(--nav-title-shadow);
  font-size:1.5em;
  margin: 15px;
}

#navgraphics {
  margin-top:30px;
  text-align:center;
}

#lastupdated {
  margin-top:30px;
  text-align:center;
}

#homebuttons {
  text-align:center;
  margin:20px auto;
}

button {
  background-color:var(--block-bg);
  padding:5px 15px;
  border:2px solid var(--block-border);
  color:var(--bold);
  font-family: VT323, sans serif;
  font-size:0.9em;
  font-weight:bold;
  margin:0 5px;
}

#statuscafe {
  line-height:1.5em;
  margin-bottom:-10px;
  margin-top:15px;
}

.webring {
  margin:20px auto;
}

footer {
  color:var(--text);
  text-align:center;
  margin:20px 0 30px 0;
  max-width:100%;
  background-color:var(--box-bg);
  padding:5px;
  box-shadow: 0 4px 30px var(--box-shadow);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border:2px solid var(--box-border);
}

.vertcentre {
  margin-top:auto;
  margin-bottom:auto;
}

.flexcontent {
  @media (min-width:900px) {
    display: flex;
    gap:20px;
  }
  margin-bottom:20px;
  align-content: center;
}

.flex1 {
  @media (min-width:900px) {
    max-width:50%;
    order:1;
    flex:1;
  }
  width:100%;
}

.flex2{
  @media (min-width:900px) {
    max-width:50%;
    order:2;
    flex:2;
  }
  width:100%;
}

#webrings {
  background-color:var(--block-bg);
  padding:0px 15px;
  border:2px solid var(--block-border);
  margin:20px auto;
  width:90%;
  max-height:450px;
  overflow:auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
}

::selection {
  color:var(--selection-text);
  background-color:var(--selection-bg);
}  

@media only screen and (max-width: 799px) {
    #flex {
        flex-wrap: wrap;
    }

    main {
      order: 1;
      width:100%;
      margin-bottom:20px;
    }

    nav {
      width: 100%;
      margin-left:0;
      margin-right:0;
      order: 2;
    }

    header img {
      width:100%;
    }

}