:root {
    --nav-title:#73F3BB;
    --nav-title-shadow: 0 0 #73ABAD;
    --footer:#73F3BB;
}

	

#container {
    max-width: 1000px;
    margin: 0 auto;
  }

#flex {
    display: flex;
    margin:20px 0;
    align-content: center;
  }

body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #73F3BB;
    background: #06130E;
    font-family: VT323, monospace;
    letter-spacing: 1px;
    overflow-x: hidden;
    cursor: url('/img/pixel.cur'), auto;
  }

  
  .crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  
  ::selection { /* used to target the selected text */
    color: #211830;
    background-color: #519975;
  }
  
  ::-moz-selection { /* the text that is selected by the user, specifically for the Firefox browser*/
    color: #211830;
    background-color: #519975;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 200px 600px 200px;
    justify-content: center;
    margin: 0 auto;
    padding: 2px;
    border: 2px #73F3BB;
  }

  .header {
    border: 2px #73F3BB;
    width: 975px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
  }

  .left {
    width: 311px;
    background-color: transparent;
    border: 2px #73F3BB;
    padding: 10px;
  }

  .right {
    width: 311px;
    background-color: transparent;
    border: 2px #73F3BB;
    padding: 10px;
  }

  .main {
    width: 590px;
    background-color: transparent;
    border: 2px #73F3BB;
    padding: 10px;
  }

  .updates {
    height: 205px;
    background-color: transparent;
    border: 1px #73F3BB;
    overflow-y: scroll;
    padding: 7px;
  }

  .navlink {
    display: block;
  }
  
  textarea {
    background: #06130E;
    border: 1px solid #73F3BB;
    border-color: #73F3BB;
  }
  
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  
  #command { /* '#' for class, '.' for id */
    cursor: text;
    height: 50px;
    color: #73F3BB;
  }
  
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  
  
  .index {
    color: #73F3BB;
  }
  
  .color2 {
    color: #73F3BB;
  }
  
  .command {
    color: #73F3BB;
    text-shadow: 0 0 5px #73ABAD; 
  }
  
  .error {
    color: #B89076;
  }
  
  .white {
    color: #fff;
  }
  
  .inherit,
  a {
    color: #73F3BB;
  }
  
  .terminal {
    color: #73F3BB;
  }
  
a, a:link, a:visited {
  transition:0.5s;
  text-shadow: 0px 0px 5px #73F3BB;
  color: #73F3BB;
}

a:active, a:hover {
  color: #06130E;
  background-color: #73F3BB;
  cursor: url('/img/pixel.cur'), auto, pointer;
}


.btnlink a:link, .btnlink a:visited {
  display:block;
  background-color:var(--page-bg);
  color:var(--nav-title);
  text-decoration:none;
  padding:10px;
  margin-bottom:20px;
  border-radius:20px;
  text-align:center;
  font-size:1.1em;
  text-shadow:none;
  font-weight:800;
  border:2px solid #fff;
}

.btnlink a:hover, .btnlink a:active {
  background-color:#AB6BD1;
}

i, em {
  color: #73F3BB;
}

b, strong {
  color:#73F3BB;
}
 
h1 {
  font-family:VT323, monospace;
  text-align:center;
  color: #73F3BB;
  font-size:2.5em;
}

h2 {
  font-family: VT323, monospace;
  font-size:1.8em;
  color: #73F3BB;
}

h3 {
  font-size:1.3em;
  padding:0px;
  color: bold;
}

.ficarchive h3 {
  text-align:center;
}

p {
  line-height:1.5em;
}

ul {
  list-style-position: inside;
  text-align: center;
  margin-left: 180px;
}

li {
  margin:5px 0px;
  line-height:1.5em;
  text-align: center;
  width: 300px;
}

hr {
  background-color: #73F3BB;
  width:50%;
  margin:2em auto;
  height:2px;
  border:none;
}

pre, code {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

blockquote {
  background-color: #06130E;
  padding:0px 15px;
  border:2px solid #73F3BB;
  margin:0 auto;
}

blockquote h2, blockquote h3 {
  color: #73F3BB;
  font-weight:800;
  font-size:1.15em;
  font-family: VT323, sans-serif;
  text-align:center;
  margin-bottom:-10px;
}

details {
  background-color: #06130E;
  padding:10px 15px;
  border:2px solid #73F3BB;
  margin:0 auto;
}

details img {
  @media (max-width: 799px) {
    max-width:100%;
  }
  max-width:500px;
}

summary {
  color: #73F3BB;
  font-weight:800;
  font-size:1.15em;
}

header {
  text-align:center;
  margin:30px 5px 20px 0;
  max-width:100%;
}

header img {
  max-width:100%;
}

header a {
  text-decoration:none;
}

.banner {
  border:2px solid #73F3BB;
  border-radius:20px;
  box-shadow: 0 4px 30px #73F3BB;
  max-width:100%;
  margin-right:5px;
}

.banner img {
  max-width:100%;
}

main {
  color: #73F3BB;
  background-color: #06130E;
  width:60%;
  padding:0px 20px 10px 20px;
  flex:1;
  order:1;
  border:2px solid #73F3BB;
}

main img {
  max-width:100%;
}

main iframe {
  max-width:100%;
}

.flexleft {
  width:200px;
  margin-right:10px;
  color: #73F3BB;
  float: left;
  position: relative;
}

.buttonbox {
  width: 200px;
  margin-right: 10px;
  color: #73F3BB;
  float: left;
  position: relative;
  border: 2px solid #73F3BB;
}
  
nav {
  order:3;
  width:200px;
  margin-right:10px;
  color: #73F3BB;
  text-align:center;
  float: left;
  position: relative;
}

@-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }

.navbox {
  color: #73F3BB;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #73F3BB;
  margin-bottom: 20px;
}

.navbox a {
  display:block;
  margin:5px;
  font-weight:800;
  text-decoration:none;
}

.navtitle {
  font-family: VT323, monospace;
  text-align:center;
  text-shadow: 2px 2px 4px #73F3BB;
  font-size:1.5em;
  margin: 15px;
}

.buttonflex {
  color: #73F3BB;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #73F3BB;
  margin-bottom: 20px;
}

#navgraphics {
  margin-top:30px;
  text-align:center;
}

#lastupdated {
  margin-top:30px;
  text-align:center;
}

#homebuttons {
  text-align:center;
  margin:20px auto;
}

button {
  background-color: #06130E;
  padding:5px 15px;
  border:2px solid #73F3BB;
  color: #73F3BB;
  font-family: VT323, sans serif;
  font-size:0.9em;
  font-weight:bold;
  margin:0 5px;
}

footer {
  color: #73F3BB;
  text-align:center;
  margin:20px 0 30px 0;
  max-width:100%;
  background-color: #06130E;
  padding:5px;
  border:2px solid #73F3BB;
}

.vertcentre {
  margin-top:auto;
  margin-bottom:auto;
}

.flexcontent {
  margin-bottom:20px;
  align-items: center;
}

.flex1 {
  width:100%;
  text-align: center;
}

.flex2{
  @media (min-width:900px) {
    max-width:50%;
    order:2;
    flex:2;
  }
  width:100%;
}

#statuscafe {
    padding: .5em;
    background-color: transparent;
    border: 1px solid #73F3BB;
}
#statuscafe-username {
    margin-bottom: .5em;
    font-size: 12px;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    font-size: 12px;
}

#message-box {
  background-color: transparent;
  color: inherit;
  border: 1px solid #73F3BB;
  padding: 8px;
  font-size: 16px;
  width: calc(100% - 15px);
  margin-bottom: 10px;
}
#send-message {
  font-size: 16px;
}

.ask1 {
  column-count: 1;
}

.question {
  background-color: #73F3BB;
  color: #73F3BB;
  opacity: .075;
  border: 1px solid #73F3BB;
  padding: 0.5em;
}

.sect {
  padding: 1.5em;
  margin: 1em;
  min-width: 120px;
  border: thin solid #73F3BB;
}

.ask1 .sec {
  max-width: 100%;
  padding: 0.5em;
  margin-top: 0;
  break-inside: avoid-column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #73F3BB;
}

::-webkit-scrollbar-thumb {
  background: #73F3BB;
}

::-webkit-scrollbar-thumb:hover {
  background: #73F3BB;
}

::selection {
  color: #06130E;
  background-color: #73F3BB;
}  

@media only screen and (max-width: 600px) {
    #flex {